 
 
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Movies Project</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
     <nav class="nav">
      <ul class="nav justify-content-center">
        <li><a href="/">Home</a></li>
        <li><a href="/detail">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
     </nav>
  </header>  

   <main>
     <div class="container">
      <%- body %>
     </div>
   </main>

  <footer>
    EJS
  </footer>
</body>
</html> 